body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dota2{
    width: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    background: rgb(216, 212, 212);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.signup {
    color: #8D3020;
    font-size: 48px;
    font-weight: 500;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 10px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #8D3020;
    font-size: 15px;
}

.forgot {
    display: flex;    
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
    color: gray;
}

.forgot span:hover{
    color: #662014;
    cursor: pointer;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    background: #8D3020;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
}

.submit:hover{
    background-color: #662014;
    color: white;
}

.noaccount {
    padding-left: 12px;
    color: gray;
    font-size: 16px;
}

.noaccount span {
    color: #8D3020;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}